.grid {
    --gap: 0.5rem;

    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: var(--gap);
}
.grid > div > div {
    flex: 1;
    aspect-ratio: 1;
    border: 1px solid #32962F;
}

.grid > div {
    display: flex;
    gap: var(--gap);
}

